* {
  margin: 0;
  box-sizing: border-box;
}

/* header or title */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121321;
  padding: 30px;
}

.title {
  font-family: "Press Start 2P", cursive;
  font-size: 50px;
  color: yellow;
}

/* Main */
.main,
.results {
  text-align: center;
  background-color: #222442;
  padding: 20px 0px;
}

.announcement,
.text {
  font-family: cursive;
  color: #e67070;
}
.announcement {
  font-size: 40px;
  padding: 10px;
}

.text {
  font-size: 25px;
  padding: 10px;
}

.scoreboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

.score-box {
  width: 200px;
  height: 200px;
}

.score {
  font-size: 25px;
  font-family: cursive;
  color: #b9bac7;
}

.choice {
  font-size: 120px;
  margin-bottom: 15px;
  color: #b9bac7;
}

/* Buttons */

.rps-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 0px;
}

.btn {
  border-radius: 10px;
  background-color: #2c2e47;
}

.btn-square {
  height: 160px;
  width: 160px;
  background-color: #66706e;
  border: none;
}

.sign{
    font-size: 100px;
}

/* restart buttton */
#restart{
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  background-color: yellow;
  border: none;
}

/* Footer */
.footer {
  background-color: #222442;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.footer-text {
  color: white;
}